<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */

/**
* @category   Innovadeltech
* @package    Innovadeltech_Wishlist
* @subpackage etc
* @author     Ijaz Ali <info@innovadeltech.com>
* @copyright  Copyright (c) 2018 Innovadeltech Technologies (http://www.innovadeltech.com)
* @version    ${release.version}
* @link       http://www.innovadeltech.com/
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Innovadeltech" translate="label" sortOrder="100">
            <label>Innovadeltech Extensions</label>
        </tab>
        <section id="wishlist_notification" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Wishlist Conversion</label>
            <tab>Innovadeltech</tab>
            <resource>Innovadeltech_Wishlist::config_notification</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="email_template" translate="label" type="text"
                   sortOrder="20" showInDefault="2" showInWebsite="2" showInStore="2">
                <label>Wislist Notification Email Template Options</label>
                <field id="customer" translate="label" type="select"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
<!--            <group id="facebook" translate="label" type="text" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Facebook Sharing Options</label>
                <field id="enable_facebook" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Facebook Sharing Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fb_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Facebook ID</label>
                    <comment>Leave it blank if you don't have any Facebook ID</comment>
                </field>
                <field id="display_onlylike" translate="label" type="select" sortOrder="3" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display Only Like</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_facebook_count" translate="label" type="select" sortOrder="4" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display Count</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="googleplus" translate="label" type="text" sortOrder="3" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Google Sharing Options</label>
                <field id="enable_google_plus" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Google +1 Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_google_count" translate="label" type="select" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display Count</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="twitter" translate="label" type="text" sortOrder="4" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Twitter Sharing Options</label>
                <field id="enable_twitter" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Twitter Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="pinitsharing" translate="label" type="text" sortOrder="5" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Pin It Sharing Options</label>
                <field id="enable_pinit" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Pin It Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_pinit_count" translate="label" type="select" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display Count</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="linkedinsharing" translate="label" type="text" sortOrder="5" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Linked In Sharing Options</label>
                <field id="enable_linkedin" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Linked In Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>-->
        </section>
    </system>
</config>